name: Build Kasm Sabnzbd Image

on:
  push:
    branches: [ "main", "master" ]
    # Only build if the Dockerfile or workflow changes
    paths:
      - '.github/workflows/**'
      - 'workspaces/sabnzbd/**'
  # Allow running manually from the Actions tab
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # IMAGE_NAME will be your "username/repo-name"
  IMAGE_NAME: 'mkcfdc/kasm-sabnzbd'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=1.0
            type=raw,value=latest

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # This builds the image and pushes it to ghcr.io
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: workspaces/sabnzbd/ 
          file: workspaces/sabnzbd/dockerfile-kasm-sabnzbd 
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
